.DealListSection {
  max-width: 900px;
  min-height: 280px;
  margin: 32px auto;
  padding: 32px;
  background-color: #F9FAFB;
  border-radius: 16px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.DealList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: stretch;
}