.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;              /* 👈 small visible strip */
  height: 100%;
  background: #004d40;
  color: white;
  transition: width 0.3s ease;
  z-index: 1200;
  overflow: hidden;
}

/* Expanded sidebar */
.sidebar.open {
  width: 300px;
}

/* MENU STRIP */
.menu-strip {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  background: #004d40;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 60px; /* 👈 starts after strip */
  width: calc(100% - 60px);
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1100;
}

/* Content area */
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  margin: 10px;
}

.history-list {
  padding: 10px;
}

.history-item {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.history-item:hover {
  background: #333;
}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  color:white;
}

.close-btn img {
  width: 20px;
  height: 15px;
}

.close-btn img {
  transition: transform 0.2s ease;
}

.close-btn:hover img {
  transform: scale(1.2);
}

.history-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.history-text {
  cursor: pointer;
  flex: 1;
}

.delete-icon {
  cursor: pointer;
  margin-left: 10px;
  color: #ff4d4d;
  font-size: 18px;
}

.delete-icon:hover {
  color: red;
}